model MyAccountViewModel
@{
	ViewData["Title"] = "My Account"; 
}


<div class="admin-user-details">
	<div><img src="/images/profile/@User.FindFirst("ProfilePicture")?.Value" /></div>
	<div class="bold">@User.FindFirst("DisplayName")?.Value</div>
	<div class="bold">@User.Identity?.Name</div>
@*	<div>@User.FindFirst("Address")?.Value</div>
*@	<div>@User.FindFirst("Street")?.Value</div>
	<div>@User.FindFirst("PostalCity")?.Value</div>
	<div>@User.FindFirst("PhoneNumber")?.Value</div>
	<div>@User.FindFirst("Company")?.Value</div>
</div>


